<div class="p-3">
    <div class="container-fluid border caja my-1 me-1 bg-light ">
        <h3>Iniciar Sesión</h3>
        <hr>
        <label for="user">E-Mail </label>
        <input [(ngModel)]="user" type="text" name="user" class="form-control  mt-2">
        <label for="pass" class=" mt-2">Contraseña </label>
        <input [(ngModel)]="pass" type="password" name="pass" class="form-control  mt-2">
        <div class="mt-2">
            <button type="button" class="btn btn-primary me-2 mt-2 mb-3 " (click)="setLogin()">Iniciar Sesión</button>
            <button type="button" class="btn btn-outline-info  me-2 mt-2 mb-3"
                (click)="openRegisterModal()">Registrarse</button>
        </div>
    </div>
</div>