<h2 class="d-flex border justify-content-center container-fluid" style="background-color: #01AEB4;">Cheka tu personaje
    favorito</h2>
<div>
    <div style="float: left;">
        <button class="btn btn-primary m-2" (click)="previusPage()">
            Previus
        </button>
        <button class="btn btn-primary m-2" (click)="nextPage()">
            Next >
        </button>
    </div>
    <div class="d-flex justify-content-center" >
        <input  [(ngModel)]="characterFilter" class="form-control border mt-2" type="text" style="width:40rem;" placeholder="🔎 Busca tu personaje"/>
    </div>
 
    <div class="bg-secondary  border container-fluid rounded d-flex align-content-center flex-wrap">
        <div *ngFor="let result of filteredCharacter">
            <div class="card m-3 p-2 border border-dark border-2" style="background-color: #01AEB4;">
                <img class="card-img-top border border-dark border-1 rounded" [src]="result.image">
                <div class="card-body">
                    <div class="card-title text-center text-light ">
                        <h5>{{result.name}}</h5>
                        <span class="text-dark"><b>Location: </b>
                            <p>{{result.location.name}}</p>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>