<div class="container">
  <div class="slider">
    <div class="slider-inner">
      <div class="slider-item container">
        <img class="slider-img" src="https://as1.ftcdn.net/v2/jpg/04/17/53/68/1000_F_417536857_2fmCwyOWRZPHcIN1foJx7e4gMgYbQ3wJ.jpg" alt="Imagen 1">
      </div>
      <div class="slider-item container">
        <img class="slider-img" src="https://as1.ftcdn.net/v2/jpg/04/36/83/44/1000_F_436834411_OnVpXrfd0iYP7oLTv6GjAFB6GSwrxmJB.jpg" alt="Imagen 2">
      </div>
      <div class="slider-item container">
        <img class="slider-img " src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcShYo-X-_bcJGIb_kZH5Drx0pmhkON5dfPMww&usqp=CAU" alt="Imagen 3">
      </div>
    </div>
  </div>
</div>
