.container {
  width: 100%;
  height: 100px;
  overflow: hidden;
}

.slider {
  width: 100%;
  overflow: hidden;
}

.slider-inner {
  display: flex;
  animation: slide 30s infinite;
}

.slider-item {
  flex: 2 0 100%;
}

.slider-img {
  width: 60%;
  height: 100%;
}


@keyframes slide {
  0% {
    transform: translateX(0);
  }
  33.33% {
    transform: translateX(-100%);
  }
  66.66% {
    transform: translateX(-200%);
  }
  100% {
    transform: translateX(0);
  }
}
