.slider-container {
    width: 100px;
    height: 200px; /* Ajusta la altura según tus necesidades */
    overflow: hidden;
    position: relative;
  }
  
  .slider {
    display: flex;
    width: 100%;
    height: 100%;
    transition: transform 0.5s;
    position: absolute;
  }
  
  .slide {
    flex: 0 0 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    opacity: 0;
    transition: opacity 0.5s, transform 0.5s;
  }
  
  .slide.active {
    opacity: 1;
    transform: translateX(0);
  }
  