<div>
    <div>
        <a [routerLink]="['/games']">
            <h1 class="mx-4"><i class="fa-solid fa-circle-left"></i></h1>
        </a>
    </div>
    <hr>
    <div class="container-fluid d-flex">
        <div>
            <p><b>Estado: </b>Online <i class="fa-solid fa-globe fa-fade" style="color: #27511f;"></i></p>
            <img [src]="img" class=" img-profile img-thumbnail">
            <div class="form-control-sm">
                <input class="form-control-sm m-2" [(ngModel)]="newImg" type="text" [hidden]="!changeImg"
                    placeholder="introduce url imagen">
                <button class="btn btn-sm btn-outline-warning m-2" (click)="newImgProfile()"
                    [hidden]="!changeImg">Cambiar</button>
            </div>
            <button type="button" class="btn btn-outline-secondary btn-sm m-2" (click)="openChangeImg()">Cambiar Imagen
                Perfil</button>
        </div>
        <div class="container">
            <div class="form-control mx-3 d-flex flex-column dataUser border border-2">
                <label for="userName"><b>Usuario: </b></label>
                <input class="form-control-sm m-2" name="userName" type="text" [(ngModel)]="name"
                    [disabled]="editActive">
                <label for="date"><b>Fecha de Registro: </b></label>
                <input class="form-control-sm m-2" name="date" type="text" [value]="dateUserAdd" disabled>
                <label for="email"><b>E-Mail: </b></label>
                <input class="form-control-sm m-2" name="email" type="text" [value]="mail" disabled>
                <label><b>Actualizar Contraseña: </b></label>
                <input class="form-control-sm m-2 newPass" [disabled]="editActive" type="text" [(ngModel)]="newPass">
                <hr>
                <div class="">
                    <input type="button" value="Editar" class="btn btn-outline-warning" (click)="activeEditProfile()">
                    <input type="button" value="Guardar" class="btn btn-outline-success mx-2" [hidden]="editActive"
                        (click)="updateUser()" [disabled]="editActive">
                </div>
            </div>
        </div>
    </div>
</div>